{% extends 'QuizQuizBundle:Layout:layout.html.twig' %}

{% block body -%}
    <h1>Theme creation</h1>

    {{ form(form) }}

        <ul>
    <li>
        <a href="{{ path('theme') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
