<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>My Quizz - By Robin Chalas - With Symfony 2</title>
    <link rel="stylesheet" href="{{ asset('bundles/quizuser/css/materialize.min.css') }}" type="text/css" media="screen" />
</head>
<body>
<style>
select {
    display:block;
}
</style>
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="/" class="brand-logo">My Quizz</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/category"><i class="mdi-action-search"></i></a></li>
                    <li><a href="/theme"><i class="mdi-action-view-module"></i></a></li>
                    <li><a href="/quiz"><i class="mdi-navigation-refresh"></i></a></li>
                    <li><a href="/profile"><i class="mdi-navigation-more-vert"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>
