{% extends 'QuizQuizBundle:Layout:layout.html.twig' %}

{% block body -%}
    <h1>Quiz creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('quiz') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
